<div id="headerMenu">
    <div class="logo float-left">
        <h2>
            <a href="/">BookShelf</a>
        </h2>
    </div>
    <ul class="float-left">
        <li>
            <a href="/#/books">Books</a>
        </li>
        <li>
            <a href="/#/about">About</a>
        </li>
    </ul>
    <div class="float-right user">
        <span class="username">{{username}}, </span>
        <a href="javascript:void(0)" ng-click="logout()" class="logout">Log Out</a>
    </div>
    <div class="clear"></div>
</div>