
<h2 class="align-center">
    Books page
</h2>
<div class="row">
    {{#link-to "main.add-book" classNames="button"}}Add Book{{/link-to}}
    <div class="inline-block pull-right">
        <label>Search:</label>
        {{input classNames="input"}}
    </div>
</div>
<table class="table">
    <thead>

    </thead>
    <tbody>
    {{#each model.books as |book|}}
        <tr>
            <td>
                {{#link-to "main.books.book" book}}{{book.name}}{{/link-to}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>