.table {
  border-spacing 0
  width 100%
  margin 0
  &.bordered {
    th, td {
      border: 1px solid gray
      padding 5px 30px
    }
    border: 1px solid gray
  }
  .sort {
    cursor pointer
    .sort-icons {
      position relative
      display inline-block
      height 10px
      padding 0 5px
      .fa-sort-up,
      .fa-sort-down {
        position absolute
      }
    }
  }
}