<div id="books">
    <h1 class="align-center">Books Page</h1>
    <div>
        <a class="float-left btn" href="/#/add-book">Add Book</a>
        <div class="float-right form-group">
            <span>Search</span>
            <input type="text" class="text-field" placeholder="Enter book title" ng-model="searchText"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Read</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books | orderBy: 'name' | filter:searchText">
                    <td><a href="/#/books/{{book._id}}" class="link">{{book.name}}</a></td>
                    <td>{{book.author}}</td>
                    <td class="align-center">{{book.year}}</td>
                    <td class="align-center">{{book.rating}}</td>
                    <td class="align-center">
                        <i class="{{book.read ? 'icon-ok' : 'icon-minus'}}"></i>
                    </td>
                    <td class="align-center">
                      <i ng-click="remove(book)" class="icon-remove-sign"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
