<h1>Ember Application</h1>
{{#link-to "index" class="button"}}
    Main page
{{/link-to}}
{{#link-to "books" class="button"}}
    Books
{{/link-to}}
{{#link-to "authors" class="button"}}
    Authors
{{/link-to}}
{{#link-to "about" class="button"}}
    About Us
{{/link-to}}

{{outlet}}