form {
  
  .vertical-form-control {
    label {
      color: #333;
      display: block;
      padding: 5px 0;
    }
    input {
      margin-bottom: 10px;
      padding: 5px;
      min-width: 200px;
      border: 1px solid black
    }
  }
  .horizontal-form-control {
    label {
      display inline-block
      padding: 5px 0;
      min-width 80px
      vertical-align top
    }
    input {
      text-align left
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid
    }
  }
}

.table {
  margin 15px
}

.page-content {
  margin 15px
}

.button {
  line-height 16px
  color: initial
  text-decoration none
  display inline-block
  border-radius: 3px;
  padding: 5px 30px;
  background: none;
  border: 1px solid #000;
  cursor pointer
}

.input {
  display inline-block
  border-radius: 3px;
  padding: 5px;
  background: none;
  border: 1px solid #000;
  cursor pointer
}

.pull-right {
  float: right
}
.align-center {
  text-align center
}

.inline-block {
  display inline-block
}

.row {
  margin 15px
}

.link {
  padding: 10px;
  display: inline-block;
  line-height: 20px;
}

.hidden {
  visibility hidden
}

.removed {
  display none
}
