form {
  
  .vertical-form-control {
    label {
      color: #333;
      display: block;
      padding: 5px 0;
    }
    input {
      margin-bottom: 10px;
      padding: 5px;
      min-width: 200px;
      border: 1px solid black
    }
  }
}


.button {
  border-radius: 3px;
  padding: 5px 30px;
  background: none;
  border: 1px solid #000;
  cursor pointer
}

.link {
  padding: 10px;
  display: inline-block;
  line-height: 20px;
}

body {
  margin 0
}
