@import "import/login";
@import "import/common";
@import "import/components/header";
@import "import/components/table";

body
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif
  color: #666
  margin 0