body, h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}




.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.form-group {
  padding: 5px;
  .text-field {
    padding: 7px;
    border: 1px solid grey;
    border-radius: 2px;
  }
  .button {
    cursor: pointer;
    background: none;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 2px;
  }
  .error {
    color: red;
    font-size: 0.9em;
    font-style: italic;
  }
}